html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}

.projContainer{
	width: 900px; height: 500px; margin: 0 auto;
	border: 6px black solid;position: relative;
}
.projControls{
	width: 400px; margin: 0 auto;
	padding: 20px; border: 1px black solid;
	text-align: center; 
}
#renderCanvas{ background: white;}
.canvas {
	position: absolute;
	width: 100%; height: 100%;
	touch-action: none;
}

#increaseVolume, #decreaseVolume{
	width: 90px; height: 90px;
	display: block; cursor: pointer;
	border-radius: 100px;
}

#decreaseVolume{ background: #333 url(../images/vd.png) no-repeat center center;  float: left; }
#increaseVolume{ background: #333 url(../images/vu.png) no-repeat center center;  float: right;}